@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('/static/iconfont/user-center/iconfont.ttf?t=1680326578967') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichudenglu:before {
  content: "\e608";
}

.icon-guanyuwomen:before {
  content: "\e654";
}

.icon-bianjigerenziliao:before {
  content: "\e636";
}

.icon-changyonglvyouyewutubiao_fuzhi_qinzi:before {
  content: "\e609";
}

.icon-xiugaimima:before {
  content: "\e501";
}

