@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('/static/indexIcons/commonIcons/iconfont.ttf?t=1679203094332') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quanbu:before {
  content: "\e713";
}

